
*{
    font-size: 15px ;
}
.tableA{
    padding: 100px;
    font-size: 15px;
}
.tableA thead{
    text-align: center;
    font-size: 15px;
}
.container-dashboard  {
  /*encajar imagen del background*/
  background: url(../../public/fondoTable.jpg) no-repeat center center fixed;
  background-size: cover;

  }
  /* .container-dashboard{
    background: #007bff;
  } */
  .add {
    margin-bottom: 10px;
  }
  
  .add a {
    padding: 8px 12px;
    background-color: transparent;
    border: #0056b3 1px solid;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .add a:hover {
    background-color: #0056b3;
  }
  
  .logout {
    margin-bottom: 10px;
  }
  
  .tableA {
    width: 100%;
    border-collapse: collapse;
  }
  
  .tableA th,
  .tableA td {
    padding: 8px;
    border-bottom: 1px solid #ccc;
  }
  
  .tableA th:last-child,
  .tableA td:last-child {
    text-align: center;
  }
  
  .tableA a {
    margin-right: 5px;
    padding: 3px 6px;
    background-color: transparent;
    border: #0056b3 1px solid;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .tableA a:hover {
    background-color: #0056b3;
  }
  
  .tableA button {
    padding: 3px 6px;
    background-color: transparent;
    border: #18ad04 10px solid;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .tableA button:hover {
    background-color: #c82333;
  }
  .row-table{
    transition: all 0.3s ease-in-out;
  }
  .row-table:hover{
    background: black ;
    
  }
  .row-table:hover td{
    color: #fff;
  }